@charset "utf-8";

body {
	margin: 0;
	background: #f5f5f5;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	color: #484848;
	display: flex;
	justify-content: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

main>div {
	border-bottom: 1px solid #ededed;
}

main>div>button {
	background: #f5f5f5;
	color: red;
	font-weight: bolder;
	padding: 4px 8px;
	visibility: hidden;
}

main>button {
	background: #f5f5f5;
	color: #484848;
	padding: 4px 8px;
	font-size: inherit;
	visibility: hidden;
}

main>div>button:first-of-type {
	color: green;
}

div>main>div:hover>button,
div>main>div:focus-within>button {
	visibility: visible;
}

button {
	display: block;
	left: 0;
	background: #b83f45;
	cursor: pointer;
	border: none;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
	margin: 4px;
	box-shadow: 0 2px 4px #0003, 0 25px 50px #0000001a;
}

main input {
	border: 0;
	font-size: 18px;
	width: 240px;
	color: #484848;
	margin: 8px 0;
	margin-right: 4px;
	padding: 4px;
}

main>input {
	width: 273px
}

main>input:not(:placeholder-shown)+button{
	visibility: visible;
}

input[type="checkbox"] {
	width: 18px;
	height: 18px;
	margin: 8px;
	transform: translateY(3px);
}

input:checked+input {
	text-decoration: line-through;
}

main {
	background: #fff;
	margin: 8px 0;
	position: relative;
	box-shadow: 0 2px 4px #0003, 0 25px 50px #0000001a;
	padding: 8px;
}

header {
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
}

header>input {
	font-size: 18px;
	width: 270px;
	color: #484848;
	margin: 4px 0;
	padding: 3px;
}

span {
	display: block;
	color: red;
	font-style: italic;
	font-size: medium;
	display: block;
	margin: 0 0 0 37px;
}